* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}

/* body::-webkit-scrollbar {
  display: none;
} */

.app {
  position: relative;
}

@keyframes LinearMovingRapiedly {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
